@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Flamenco');

body {
  font-family: 'Open Sans', sans-serif;
}
.interface {
  width: 100%;
  height: 100%;
}

/* CABEÇALHO - HEADER ===============================================================================================*/
header {
  height: 30%;
  border-bottom: 2px solid black;
  background: url("../imagens/bg-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  max-width: 100%;
}

.conjunto {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
}

.menu{
  list-style: none;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  /* Torna o display Flexbox */

  -webkit-flex-flow: row wrap; /* Vai tornar o display em linhas e com quebras (caso houver) */
  justify-content: flex-end;; /* Vai posicionar o bloco todo à direita */
  align-content: center;
}

.menu li {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  font-size: 14pt;
  border-right: 1px solid rgba(0,0,0,0.15);
}

.item1 {
  border-left: 1px solid rgba(0,0,0,0.15);
}

.menu a {

  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  text-transform: uppercase;

}

.menu a:hover {
  color: red;
  transition: 0.8s;
  text-decoration: none;
  text-shadow: 1px solid rgba(0, 0, 0, 0.5);

}

/* CORPO - SECTION ===============================================================================================*/
section {
  border-bottom: 2px solid black;
}

div#meuSlide {
  width: 100%
  height: 40%;
  margin: auto auto auto auto;
}

.slideindex {
  margin: auto auto auto auto;
}

.slider {
  padding-bottom: 15px;
}

article#noticia-principal {
  text-align: justify;
  border-right: 1px solid rgba(0,0,0,0.3);
}

article#quadro1 {
  text-align: justify;
}
article#quadro2 {
  text-align: justify;
}

.img-responsive {
  margin: auto auto auto auto;
}
/* RODAPÉ - FOOTER ===============================================================================================*/
footer {
  height: auto;
  background: url("../imagens/bg-foot.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

h6 {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  color: white;
}

#guga {
  padding-top: 0;
  text-decoration: none;
  color: black;
}

#guga:hover {
  transition: 1s;
  color: #0efff6;
}

/* MEDIA QUERYS =================================================================================================*/

@media all and (max-width: 999px) {
  .img-responsive {
    margin: auto auto auto auto;
  }
  article#noticia-principal {
    padding-bottom: 15px;
    border-right: none;
  }
}

@media all and (max-width: 800px) {  /* Media Query rodando função quando encontrar larguras menores que 800px */
  .menu {
    justify-content: space-around;  /* Ao começar a diminuir a tela, o display passará a ter a mesma proporção */
    width: auto;
  }
  .menu li {
    font-size: 14pt;
    border-right: none;
  }
  .item1 {
    border-left: none;
  }
  .fotosindex {
    justify-content: space-around;
    width: auto;
    padding: 20px;
  }
  .logo {
    box-sizing: 40% 40%;
    max-width: 100%;
  }

  .img-responsive {
    padding: 10px;
    margin: auto auto auto auto;
  }

  article#noticia-principal {
    padding-bottom: 10px;
    border-right: none;
  }
}

@media all and (max-width: 600px) { /* Media Query rodando função quando encontrar larguras menores que 600px */

  /* Media Query do Menu de Navegação */
  nav {
    width: 100%;
  }
  .menu {
    width: auto;
    -webkit-flex-flow: column wrap; /* Para telas menores o display irá se tornar em coluna e com quebra de linha */
    flex-flow: column wrap;
    padding: 0;

  }

  .menu a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .menu li {
    font-size: 12pt;
    border-right: none;
  }

  .item1 {
    border-left: none;
  }

  .menu li:last-of-type a {
    border-bottom: none;
  }

  .logo {
  box-sizing: 25% 25%;
  max-width: 100%;
  }

  .fotosindex {
    width: auto;
    -webkit-flex-flow: column wrap; /* Para telas menores o display irá se tornar em coluna e com quebra de linha */
    flex-flow: column wrap;
    padding: 20px;
  }

  .img-responsive {
    padding: 10px;
    margin: auto auto auto auto;
  }
  article#noticia-principal {
    padding-bottom: 10px;
    border-right: none;
  }

}
